@use '../../style';

.workspace {
  box-sizing: border-box;
  min-height: 48px;
  min-width: 1024px;
  width: 100%;
  background-color: style.get-color('main-dark');
  border-radius: 7px;
  padding: 4px;

  & > div {
    margin-bottom: 4px;
  }

  & > div:last-child {
    margin-bottom: 0;
  }
}
