@use '../../style';

.cube {
  width: 40px;
  height: 40px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: style.get-color('hover');
  }
}

.inactive {
  background-color: style.get-color('main-light');
}

$cubes-colors-list: style.get-cube-colors-list();

@each $color in $cubes-colors-list {
  $i: index($cubes-colors-list, $color);

  .color-#{$i} {
    background-color: $color;

    &:hover {
      background-color: $color;
    }
  }
}
